{% extends "./master.html" %}

{% block content %}
<div class="login">
    <div style="font-size: 30px; text-align: center; font-weight: bold;">
        chaT-Ty
    </div>
    <br/>
    <!-- login form -->
    <div class="form">
        <form id="login_form" method="post" action="../login/">
        <!-- {% csrf_token %} is a CSRF middleware and template tag that provides 
        easy-to-use protection against Cross Site Request Forgeries -->
        {% csrf_token %}
        <!-- display each input -->
        <input type="text" name="username" placeholder="Username" />
        <br />
        <br />
        <input type="password" name="password" placeholder="Password" />
        <br />
        <br />
        <!-- button to submit form -->
        <input class="button" type="submit" value="Login" />
        </form>
    </div>
    <br/>
    <div style="width: 300px; height: 1px; background-color: rgb(180, 180, 180);"></div>
    <br/>
    <!-- in the case that a user does not have an account, display link to register page -->
    <div class="form" style="margin-bottom: 10px;">Don't have an account? Register&nbsp;<a href="../register/">here</a>.</div>
</div>
{% endblock %}